.track-container {
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: rgba(79, 22, 79, 0.7);
    padding-left: 20px;
}

.track {
    padding-left: 20px;
    line-height: 32px;
    word-spacing: 5px;
    letter-spacing: 2px;
    
}

.add-button {
    text-align: center;
    background-color: rgb(51, 16, 228);
    color: white;
    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-button:hover {
    background-color: rgb(79, 22, 79);
    border: none;
    cursor: pointer; 
}
