/* Global Reset & Base styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-size: 14px;
    background-image: url(/images/background_image.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: white;
    background-color: rgb(79, 22, 79);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    letter-spacing: 3.5px;
    padding: 20px;

}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: white;
    text-align: left;

}


.app-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.app-header {
    text-align: center;
    margin-bottom: 5rem;
}

.main-layout-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

@media (max-width: 768px) {
  .main-layout-container {
    grid-template-columns: 1fr;
  }
}

.results-container, .playlist-container, .track-container {
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: rgba(79, 22, 79, 0.7);
    padding-left: 20px;
    
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
    width: 100%;    
}

.track {
    padding-left: 20px;
    line-height: 32px;
    word-spacing: 5px;
    letter-spacing: 2px;
    
}

.search-input {
    width: 100%;
    max-width: 500px;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}


.search-button {
    width: 100%;
    max-width: 200px;
    text-align: center;
    background-color: rgb(51, 16, 228);
    color: white;
    border-radius: 35%;
    padding: 20px;
    border: none;
    margin-top: 20px;
}

.search-button:hover {
  background-color: rgb(79, 22, 79);
  border: none;
  cursor: pointer;
}

.add-button {
    text-align: center;
    background-color: rgb(51, 16, 228);
    color: white;
    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-bottom: 10px;
}


.add-button:hover {
    background-color: rgb(79, 22, 79);
    border: none;
    cursor: pointer; 
}

.playlist-name-input {
    width: 100%;
    max-width: 200px;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}